# ======================================================
# ROOT
# ======================================================

node_modules
dist
build
coverage

# ======================================================
# FRONTEND
# ======================================================

frontend/node_modules
frontend/.next
frontend/out
frontend/build
frontend/coverage

# ======================================================
# BACKEND
# ======================================================

backend/node_modules
backend/dist
backend/build
backend/coverage

# Prisma
backend/prisma/dev.db
backend/generated

# ======================================================
# ENV
# ======================================================

.env
.env.local
.env.development.local
.env.production.local

frontend/.env
frontend/.env.local

backend/.env
backend/.env.local

# ======================================================
# LOGS
# ======================================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================================================
# OS
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# VERCEL / RAILWAY
# ======================================================

.vercel

# ======================================================
# TYPESCRIPT
# ======================================================

*.tsbuildinfo
next-env.d.ts

# ======================================================
# YARN
# ======================================================

.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ======================================================
# SECURITY
# ======================================================

*.pem